
/* content work-list*/
.work-list {height: 200px; padding: 20px 0px 20px 100px; position: relative; margin-bottom: 10px;
     border: 1px solid #fff; background: rgba(0,0,0,0.3);}
.work-list .preview {position: absolute; top: 40px; left: -50px; width: 100px; height: 100px; background: #888;  }
.work-link > a {
     display: inline-block; width: 100px; background: lightgray;
     text-align: center; vertical-align: middle; line-height: 60px; margin-top: 10px;
     text-decoration: none;
}











